main{
    max-width: 1200px;
}


#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}


.bg-gray{
    background-color: #D9D9D9

}

.overlay {

    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #5B495B; 
}

.image-container:hover .overlay {
    opacity: 69%;
}

button.accordion-button:not(.collapsed) {
    background-color: #D9D9D9;
    color: black;
}

button.accordion-button:focus {
    box-shadow: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #241724;
    color: #fff;
}

.nav-link:hover,

.nav-link:active {
    color: #F5EC13;
}

.footer {
    background-color: #5b495b;
    padding: 20px 0;
}

