
.form {
    margin: 0 auto;
    padding: 1rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form label {
    font-weight: bold;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form input[type="number"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="tel"]:focus,
.form input[type="number"]:focus,
.form textarea:focus {
    border-color: #F5EC13;
    outline: none;
}

.form input[type="radio"] {
    margin-right: 10px;
}

.form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #F5EC13;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #FFD200;
}

.form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #F5EC13;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button[type="submit"]:hover {
    background-color: #FFD200;
}

.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    transition: border-color 0.3s ease;
}

.form select:focus {
    border-color: #F5EC13;
    outline: none;
}
